* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  font-family: Roboto, system-ui;
  color: #44475b;
}
#company_box {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
}
#company_box > div:nth-child(1) {
  width: 70%;
  /* border: 1px solid black; */
  height: auto;
  margin: 1%;
  margin-top: 30px;
}

#left_side {
  display: flex;
  flex-direction: column;
}
#left_side > div:nth-child(1) {
  width: 100%;
  /* border: 3px solid yellow; */
  display: flex;
}
#left_side > div:nth-child(1) > div {
  width: 50%;
}
#left_side > div:nth-child(1) > div:nth-child(2) {
  margin-left: 40%;
}

#left_side > div:nth-child(2) {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* border: 3px solid yellow; */
  margin-top: 20px;
}
#left_side > div:nth-child(2) > div {
  width: 24%;
  margin: 4px;
  border: 1px solid rgb(184, 182, 182);
  border-radius: 4px;
}
#left_side > div:nth-child(2) > div:hover {
  box-shadow: 1px 1px 1px black;
}
#company_box > div:nth-child(2) {
  width: 28%;
  margin: 1%;
  border: 1px solid rgb(230, 227, 227);
  height: auto;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 2px;
}
#logoimg {
  width: 30px;
  margin-left: 8px;
  margin-top: 10px;
  border: 1px solid rgb(189, 236, 189);
  border-radius: 3px;
  margin-bottom: 15px;
}
#handPicked {
  width: 100%;
  border: 2px solid teal;
  margin-top: 50px;
  font-size: 18px;
  font-weight: 600;
}

#second_div > div:nth-child(1) {
  font-size: 14px;
  margin-bottom: 10px;
}
#second_div > div:nth-child(2) {
  /* overflow: hidden; */
  font-size: 14px;
  margin-bottom: 14px;
  word-break: break-all;
  font-weight: 600;
  text-align: center;
}
#year_div {
  display: flex;
  flex-direction: row;
  margin: auto;
  /* border: 1px solid pink; */
}
#year_div > div {
  width: 50%;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 700;
  margin-bottom: 12px;
}
button {
  text-decoration: none;
  border: none;
  background-color: white;
  font-size: 14px;
  font-weight: 600;
  color: #00d09c;
}
button:hover {
  box-shadow: 1px 1px 1px #00d09c;
}
#pf {
  font-size: 18px;
  font-weight: 600;
}
#right_side {
  height: 400px !important;
}
#right_side > div {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
#right_side > div:nth-child(1) {
  width: 37%;
  margin: auto;
}
#boy_img {
  width: 120px;
  height: 200px;
}
#right_side > div:nth-child(2) {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}
#right_side > div:nth-child(2) > p:nth-child(1) {
  font-size: 16px;
  font-weight: 700;
}
#right_side > div:nth-child(2) > p:nth-child(2) {
  font-size: 16px;
  font-weight: 700;
}
#right_side > div:nth-child(3) > p {
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
#right_side > div:nth-child(4) {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  border: 1px solid #00d09c;
  background-color: #00d09c;
  border-radius: 2px;
}
#right_side > div:nth-child(4) > p {
  margin: 5%;
  margin-left: 25%;
  font-size: 18px;
  color: white;
  font-weight: 600;
}
#hp {
  margin-top: 40px;
  font-weight: 600;
  font-size: 18px;
}
#hand_div {
  display: flex;
  margin-top: 10px;
}
#hand_div > div {
  width: 15%;

  /* border: 1px solid teal; */
  margin: 1%;
}
#hand_div > div > img {
  margin-left: 25px;
  margin-top: 10px;
}
#hand_div > div > p {
  font-size: 12px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}
#moreinfo {
  display: flex;
  width: 90%;
  height: 150px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 100px;
  background-color: rgb(247, 240, 240);
  border-radius: 10px;
}
#moreinfo > div {
  width: 18%;
  margin: 1%;
  /* border: 1px solid teal; */
}
#moreinfo > div > img {
  width: 50px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#moreinfo > div > p {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}
