/* * {
    border: 1px solid green;
} */
body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    font-family: Roboto,system-ui;
    color: #44475b;
    overflow: auto;
    scroll-behavior: smooth;
  
  }

  /* Header Style Start */


.head-container {
  margin: 10px;
}
.header {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 18rem;
}


#searchbar > input {
  width: 445px;
  height: 38px;
  padding: 2px 1px 1px 13px;
  border: white;
  box-shadow: 2px 2px 4px silver, -1px -1px 4px silver;
  position: relative;
  right: 28rem;
}
.searchIcon {
  width: 19px;
  height: 19px;
  position: relative;
  bottom: 1.7rem;
  /* right: 26rem; */
  right: 1.8rem;
}

.logo-image img{
width: 146px;
height: 40px;
}
.navbarOptions {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    /* left: 40rem; */
    right: 15rem;

}

/* .navbarOptions > p {


} */
.btn-color {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 208, 156);
    color: white;
    height: 55px;
    width: 200px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
}

/* Nav Bar Icons style Start */

.icons {
    display: flex;
    flex-direction: row;
    position: absolute;
    /* left: 5rem; */
    right: 32rem;
    /* bottom: 5rem; */
    top: 1rem;
}
.icons img {
    width: 20px;
    height: 20px;
    margin-left: 1.5rem;
}

/* User options */
.userIcon {
    position: relative;
    right: 33rem;
}
/* Nav Bar Icons style End */


/* DropdownMenu Style Start  */

.content {
    /* background: red;; */
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}
.content div {
    padding: 12px 16px 16px;
    display: block;
}
.content div:hover {
    background-color: #ddd;
}
/* DropdownMenu Style SEnd  */

/* Header and Nav bar style End  */



/* Main Options Style Start */
.main-options {
    width : 1110px;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: auto;
    position: relative;
    right: 3.8rem;
    top: 2rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 15px;
    padding-right: 45px;
    cursor: pointer;
    color: var(--text);
    -webkit-font-smoothing: auto;


}

.main-options div {
    padding-left: 40px;
 }

 /* market-container style start */
 .market-container {
    width : 1110px;
    position: relative;
    right: 2.6rem;
    top: 2.6rem;
    height: 2280px;
    margin: auto;
 }
 .market__time {
    margin-bottom: 1.5rem;
}

 .market-box1__heading  {
     display: flex;
     flex-direction: row;
     gap: 37rem;
     
    }
    .market-rounded__text {
        color: #00D09c;
        font-size: 15px;
        width: 61.89px;
        height: 14px;
        background: #E5FAF5;
        padding: 6px 18px;
        border-radius: 16px;
        cursor: pointer;
        text-transform: uppercase;

 }
 .market-rounded__text > div {
        margin-top: -4px;

 }
 .market-box-heading {
     width: 348px;
    display: flex;
    gap: 4rem;
    padding: 14px 16px;
    margin-top: 1.5rem;
    /* box-shadow: 0 1px 7px 0; */
  box-shadow: 2px 2px 4px silver, -1px -1px 4px silver;

    
 }


.market-box1__item2 {
    position: absolute;
    top: 4.5rem;
    left: 25rem;

    
}
.neutral-text {
    color: green;
    margin-left: 15px;
}

/* Stocks in News Style Start */
.market-heading__box2 {
    margin-top: 4rem;
}
.stock-box__data {
    width: 165px;
    height: 212px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    padding: 15px 0 15px 15px;
    position: relative;
    right: 15px;

}
.stocks-data__box1,
.stocks-data__box2,
.stocks-data__box3,
.stocks-data__box4
{
    /* box-shadow: 0 1px 3px 0 ; */
  box-shadow: 2px 2px 4px silver, -1px -1px 4px silver;

    max-width: 165px;
    min-height: 190px;
    min-width: 160px;
    width: 100%;
    position: relative;
    transition: all .3s ease;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 8px;
    margin-right: 22px;
    /* margin-left: 22px; */

}

.stock-name {
    width: 62.14px;
    height: 45px;
    font-size: 14px;
    margin: 10px 15px 0 0;
}

.stock-price {
    width: 143px;
    height: 25px;
    font-size: 16px;
    margin: 0 7px 10px 0;

}

.stock-points {
    width: 150px;
    height: 22px;
    font-size: 14px;
    margin-left: 5px;
}

.stock-image img {
    width: 36px; 
    height: 36px;
    object-fit: contain;
    box-shadow: 0 0 1px 0;
    transition: all .1s ease;


}
.stock-link  {
    /* color: purple; */
    text-decoration: none;
}
.stock-name {
    width: 150px;
    height: 55px;
    font-size: 15px;
    margin-top: 15px;
    margin-right: 15px;
    color:#44475B;
    font-weight: 600;
}

.right-box {
    width: 335px;
    height: 309px;
    position: absolute;
    left: 50rem;
    top: -1.5rem;
    margin-left: 2rem;
    padding: 9px 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 1px 3px 0px;



}
.fando ,
.etf
{
    width: 313px;
    height: 48px;
    /* border: 1px solid black; */
    display: flex;
    gap: 2rem;
}
.right-box-image img {
    width: 28px; 
    height: 28px;
    background: white;
    box-shadow: 0 0 1px 0;
    transition: all .1s ease;
    border-radius: 5px;
}
.right-box__option1,
.right-box__option2
{
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: .16px;
}
.ipo ,
.sgb
{
    width: 313px;
    height: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}
.sub-text {
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
    position: relative;
    bottom: 2rem;
    left: 3.5rem;
    margin-top: 5px;

    
}
.round-dot-green {
    /* margin-bottom: 5rem; */
    height: 10px;
    width: 10px;
    background: green;
    border-radius: 50%;
    margin-top: 5px;

}
.round-dot-orange {
    height: 10px;
    width: 10px;
    background: orange;
    border-radius: 50%;
    margin-top: 5px;

}