.head-container {
    margin: 10px;
}
.header {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 18rem;
    clear: both;
}
.image > img {
    width: 148px;
    height: 48px;
}

#searchbar > input {
    width: 380px;
    height: 38px;
    padding: 2px 2px 1px 13px;
    border: white;
    box-shadow: 2px 2px 4px  silver, -1px -1px 4px silver;
}
.searchIcon {
    width: 19px;
    height: 19px;
    position: relative;
    right: 2rem;
    top: 0.3rem;
    /* bottom: 1.8rem; */
}

#reg_login {
    width: 175px;
    height: 40px;
    background: rgb(0,208,156);
    color: white;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    margin-left: -13.5rem;
    display: flex;align-items: center
}