*{
    border: 1px solid green;
}

.head-container {
    margin: 10px;
}
.header {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 18rem;
    clear: both;
}
.image > img {
    width: 148px;
    height: 48px;
}

#searchbar > input {
    width: 380px;
    height: 38px;
    padding: 2px 2px 1px 13px;
    border: white;
    box-shadow: 2px 2px 4px  silver, -1px -1px 4px silver;
}
.searchIcon {
    width: 19px;
    height: 19px;
    position: relative;
    right: 2rem;
    top: 0.3rem;
    /* bottom: 1.8rem; */
}

#reg_login {
    margin-left: -13.5rem;
}

.btn-color {
    display: flex;
    align-items: center;
    background: rgb(0,208,156);
    color: white;
    padding: 8px 30px;
    height: 40px;
    width: 175px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    
}

.features {
    width: 1100px; 
    height: 616px;
    margin:  auto;
    display: grid;
    grid-template: 'leftcont mutual stocks'
                    'leftcont futures USstocks'
                    'leftcont golds fd'                
    ;
    margin-top: 6rem;
}
.stocks  {
    display: grid;
    grid-gap: 20px;

    /* margin: 20px; */
    grid-template: ' mutual stocks'
                    ' futures USstocks'
                    ' golds fd'                
    ;
    
    /* flex-direction: row; */
} 
.stocks > div {
    width: 205px;
    height: 155px;



}
.left-container {
    width: 500px;
    margin-top: 10rem;
    grid-area: leftcont;

}

.mutual-funds {
    grid-area: mutual;
}

.stocks {
    grid-area: stocks;
}
.futures {
    grid-area: futures;
}
.USstocks {
    grid-area: USstocks;
}
.gold {
    grid-area: golds;
}
.fd {
    grid-area: fd;
}
