<!-- header -->
<div class="head-container">
    <div class="header">
    
    <div class="logo-image">
        <a href="../dashboard.html">
            <img src="https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/logo-dark-groww.83f43714.svg" alt="Groww Logo">
        </a>
    </div>
    <div class="navbarOptions">
        <p>Explore</p>
        <p>Investments</p>
    </div>
    <!-- search bar and search icon  -->
    <div id="searchbar">
        <input type="search" id="search" placeholder="What are you looking for today?">
        <img class="searchIcon" src="https://assets-netstorage.groww.in/website-assets/prod/1.8.1/build/client/images/search.494f6987.svg">
    </div>
    <div class="icons">
        <img class="bell-icon" src="https://growww-clone.netlify.app/Images/bell.png">
        <a href="wallet.html">
            <img class="wallet-icon" src="https://growww-clone.netlify.app/Images/wallet.png">
        </a>
        <img class="cart-icon" src="https://growww-clone.netlify.app/images/cart.png">
    </div>
    <div class="userIcon">
        <div class="username"></div>
        
    </div>
</div>
</div>

<!-- Header End -->
<div class="main-options">
    <div class="dash-board-options">Stocks</div>
    <div class="dash-board__options">Mutual Funds</div>
    <div class="dash-board__options">Fixed Deposits</div>
    <div class="dash-board__options">Gold</div>
    <div class="dash-board__options">US Stocks</div>
</div>

<div class="market-container">
    <div class="market__time">
        MARKET CLOSES AT 03:30 PM
    </div>
    <div class="market-heading__box1">
        <div class="market-box1__heading">
            <div class="market-heading1">Index</div>
            <div id="market-rounded__text">
                <div class="screener">Screener</div>
            </div>
        </div>
        <div class="market-box1__items">
            <div class="market-box1__item1">
                <div class="market-box-heading">
                    <div class="market-name">
                        <div>NIFTY</div>
                        <div>NSE</div>

                    </div>
                    <div class="market-graph">
                        <span class="material-icons">
                            trending_down
                        </span>

                    </div>
                    <div class="market-points">
                        <div class="neutral-text">16,636.90</div>
                        <div class="profit-text">2.25(0.01%)</div>

                    </div>
                </div>
            </div>
            <div class="market-box1__item2">
                <div class="market-box-heading">
                    <div class="market-name">
                        <div>SENSEX</div>
                        <div>BSE</div>
                    </div>
                    <div class="market-graph">
                        <span class="material-icons">
                            trending_up
                        </span>
                    </div>
                    <div class="market-points">
                        <div class="neutral-text">55,949.10</div>
                        <div class="profit-text">4.89(0.01%)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>